body {
    background-color: #28282B;
    font-family: 'Montserrat';
    color: white;
}

button {
    background-color: black;
    transition: 0.2s;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: gold;
    color: black;
}